<!DOCTYPE html>
<html lang="en">

<head>
    <title>Space Launch Dashboard</title>
    <link rel="stylesheet" href="/css/launches.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <header>
        <h3>Space Launch Dashboard</h3>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/launches" class="current">Launches</a></li>
                <li><a href="/iss">ISS</a></li>
                <li><a href="/starship">Starship</a></li>
            </ul>
        </nav>
        <a class="callToAction" target="_blank" href="https://github.com/avrachimi/space-launch-dashboard"><button>Github</button></a>
    </header>
    <table id="space-launch-table">
        <tr id="space-launch-table-header">
            <th>Name</th>
            <th>Status</th>
            <th>Launch Date & Time*</th>
            <th>Launch Provider</th>
            <th>Launch Type</th>
        </tr>
        <% for (var i=0; i < locals.data.length; i++) { %>
            <tr>
                <td><%= locals.data[i].name %></td>
                <td><%= locals.data[i].status_short %></td>
                <td><%= new Date(locals.data[i].datetime).toUTCString().slice(0, 26) %></td>
                <td><%= locals.data[i].provider_name %></td>
                <td><%= locals.data[i].provider_type ? locals.data[i].provider_type : 'N/A' %></td>
            </tr>
        <% } %>
    </table>
    <p><strong>* All times are in UTC</strong></p>
    <script src="/js/launches.js"></script>
</body>

</html>